*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
app/Filament/Resources/TestResource.php
app/Filament/Resources/TestResource/Pages/CreateTest.php
app/Filament/Resources/TestResource/Pages/EditTest.php
app/Filament/Resources/TestResource/Pages/ListTests.php
app/Models/Test.php
