*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
app/Filament/Resources/TestResource.php
app/Filament/Resources/TestResource/Pages/CreateTest.php
app/Filament/Resources/TestResource/Pages/EditTest.php
app/Filament/Resources/TestResource/Pages/ListTests.php
app/Models/Test.php
/app/Filament/
!/app/Filament/Pages/LogViewer.php
!/app/Filament/Pages/Settings.php
!/app/Filament/Pages/Setup.php
!/app/Filament/stubs
app/Models/ContactPerson.php
app/Models/Customer.php
app/Models/Document.php
app/Models/House.php
app/Models/Log.php
app/Models/Person.php
app/Models/Product.php
app/Models/Quote.php
app/Models/Quote.php.old
app/Models/QuoteProduct.php
app/Models/QuoteProduct.php.old
app/Models/ResourceConfig.php.old
app/Models/Test2.php
app/Policies/CompanyPolicy.php
app/Policies/ContactPersonPolicy.php
app/Policies/ContactPolicy.php
app/Policies/CustomerPolicy.php
app/Policies/DocumentPolicy.php
app/Policies/FilamentActionPolicy.php
app/Policies/FilamentConfigPolicy.php
app/Policies/HousePolicy.php
app/Policies/ProductPolicy.php
app/Policies/QuotePolicy.php
app/Policies/QuoteProductPolicy.php
app/Policies/ResourceConfigPolicy.php
app/Policies/RolePolicy.php
app/Policies/TableFieldPolicy.php
app/Policies/TableFieldsPolicy.php
app/Policies/TestPolicy.php
app/Policies/UserPolicy.php
app/Traits/CompanyRelations.php.deleted
app/Traits/ConfigRelations.php
app/Traits/ContactPersonRelations.php
app/Traits/ContactRelations.php
app/Traits/HouseRelations.php
app/Traits/ProductRelations.php
app/Traits/QuoteProductRelations.php
app/Traits/QuoteRelations.php
app/Traits/QuotRelations.php
app/Traits/ResourceConfigRelations.php
app/Traits/TestRelations.php
